* {
    margin: 0;
    padding: 0;
}

#nav {
    background-color: #63034C;
}

body {
    background-color: #1A0363;
}

p {
    font-size: 20px;
}

img {
    width: 90%;
    height: 90%;
    margin: 20px;
    box-shadow: 10px 10px 5px #000000;
}


.jumbotron {
    background-color: #E7E7E7;
}

/* Column class */
.row row-cols-auto {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    align-items: baseline;

}

.col {
    text-align: center;
    width: auto;
    align-self: center;
}

/* Button shape */
button {
    margin-bottom: 15px;
    padding: 15px 32px;
    border: none;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    width: 50%;
}

/* Topics */
#skateboard {
    background-color: #0099ff;
}

#djing {
    background-color: #6666ff;
}

#rubiks_cube {
    background-color: #00cc99;
}

/* Button Colors */
#skate {
    background-color: #000099;
}

#dj {
    background-color: #330066;
}

#rubik {
     background-color: #004d00;
}
