#nav {
    background-color: #63034C;
}

body {
    background-color: #79ff4d;
}

p {
    font-size: 20px;
}

.jumbotron {
    background-color: #e6ff99;
    color: black;
}

/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol */
.accordion {
    background-color: #008000;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #004d00;
}

.accordion:after {
  content: '\002B'; /* Unicode for + */
  color: #79ff4d;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode for - */
}

/* Inside Panel */
.panel {
  background-color: #99ff99;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
}

h2 {
  text-align: center;
  display: block;
}


/* Source: https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox */
.flex-container {
  margin: 0px 18px;
  display: flex;
  width: 100%;
}

.flex-container > div {
  margin: 15px;
  padding: 15px;
  text-align: center;
  align-self: center;
  width: auto;
}

h3 {
  display: inline-block;
}

/* Format Images */
img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#items {
  display: flex;
  margin-right: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
}

#items > div {
  margin: 0;
  padding: 0;
  height: auto;
  align-self: flex-end;
}

.pyramid {
  margin-right: 20px;
}

.fourty {
  width: 40%;
  height: 40%;
}

.fifty {
  width: 50%;
  height: 50%;
}