body {
    background-color:#ADFF2F;
}

p {
    font-size: 20px;
}

.jumbotron {
    background-color: #008000;
}

/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_symbol */
.accordion {
    background-color: #0099ff;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #00ffff;
}

.accordion:after {
  content: '\002B'; /* Unicode for + */
  color: #00ffff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode for - */
}

/* Inside Panel */
.panel {
  background-color: #ccffff;;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
}

.flex-container {
  display: flex;
  margin: 0px 18px;
}

.instagram {
    border: none;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    /* Gradient source: https://codepen.io/thomasrye/pen/VaRoYv */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    font-size: 20px;
    color: #fff;
}

