* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #00ffff;
}
p {
    font-size: 20px;
}
img {
    width: 90%;
    height: 90%;
    margin: 20px;
    box-shadow: 10px 10px 5px #000000;
}

.jumbotron {
    background-color: #00ffff;
}

.col {
    text-align: center;
    position: relative;
}

button {
    margin-bottom: 15px;
    padding: 15px 32px;
    border: none;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    width: 50%;
}

#skateboard {
    background-color: #0099ff;
}

#djing {
    background-color: #6666ff;
}

#rubiks_cube {
    background-color: #00cc99;
}

.first {
    background-color: #000099;
}

.second {
    background-color: #00264d;
}

.third {
     background-color: #330066;
}