$font: "Raleway", sans-serif;
$font-size: 16px;
$header-font: "Roboto", sans-serif;
$header-size: 3rem;
$section-title: 2rem;
$hero-clr: hsl(175, 92%, 95%);
$nav-clr: hsl(178, 62%, 33%);
$top-bg-clr: hsl(38, 51%, 90%);
$mid-bg-clr: hsl(176, 15%, 64%);
$btm-bg-clr: hsl(178, 20%, 25%);
$main-text-clr: hsl(0, 0%, 0%);
$header-clr: hsl(0, 0%, 100%);
$button-clr: hsl(179, 100%, 33%);
$home-max-width: 1100px;
$skate-max-width: 1500px;

:root {
    --font: #{$font};
    --font-size: #{$font-size};
    --header-font: #{$header-font};
    --header-size: #{$header-size};
    --hero-clr: #{$hero-clr};
    --nav-clr: #{$nav-clr};
    --main-text-clr: #{$main-text-clr};
    --header-clr: #{$header-clr};
    --button-clr: #{$button-clr};
    --home-max-width: #{$home-max-width};
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: var(--font-size);
}

img {
    max-width: 100%;
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-size);
    margin: 0;
}

iframe {
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--header-clr);
    font-weight: 900;
    background-color: var(--button-clr);
    padding: 0.75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: 0.75;
}

.container {
    width: 80%;
    max-width: var(--home-max-width);
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 30px;
}

.col {
    width: 100%;
}

header {
    background: var(--nav-clr);
    padding: 0.5em 0;
}

// Navigation Styles
.home {
    margin-right: 1em;
    color: var(--header-clr);
    text-decoration: none;

    &:hover {
        color: var(--main-text-clr);
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    &__item + &__item {
        margin-left: 2em;
    }

    &__link {
        color: var(--header-clr);
        text-decoration: none;
    }

    &__link:hover {
        color: var(--main-text-clr);
    }
}

// Hero Styles
.hero {
    padding: 50px 0;
    background-color: var(--hero-clr);
    color: var(--main-text-clr);
}
