@use "../styles/" as *;

:root {
    --section-title: #{$section-title};
    --skate-bg-clr: #{$skate-bg-clr};
    --dj-bg-clr: #{$dj-bg-clr};
    --rbk-bg-clr: #{$rbk-bg-clr};
}
// Section Styles
.topic {
    padding-block: 2em;
    &__content {
        width: 60%;
        // border: solid 1px red;
        text-align: center;
        align-self: flex-start;
    }

    &__title {
        font-size: var(--section-title);
        margin-top: 0;
    }

    &__image {
        align-self: flex-start;
        width: 40%;
    }
}

// Individual Styling
.skate {
    background-color: var(--skate-bg-clr);
}

.dj {
    background-color: var(--dj-bg-clr);
}

.rubik {
    background-color: var(--rbk-bg-clr);
    color: white;
}
