@use "../styles/" as *;

:root {
    --section-title: #{$section-title};
    --header-font: #{$header-font};
    --top-bg-clr: #{$top-bg-clr};
    --mid-bg-clr: #{$mid-bg-clr};
    --btm-bg-clr: #{$btm-bg-clr};
}
// Section Styles
.topic {
    padding-block: 2em;
    &__content {
        width: 60%;
        text-align: center;
        align-self: flex-start;
    }

    &__title {
        font-family: var(--header-font);
        font-size: var(--section-title);
        margin-top: 0;
    }

    &__image {
        align-self: flex-start;
        width: 40%;
    }
}

// Individual Styling
.skate {
    background-color: var(--top-bg-clr);
}

.dj {
    background-color: var(--mid-bg-clr);
}

.rubik {
    background-color: var(--btm-bg-clr);
    color: white;
}
