@use "../styles/" as *;

:root {
    --section-title: #{$section-title};
    --header-font: #{$header-font};
    --header-clr: #{$header-clr};
    --top-bg-clr: #{$top-bg-clr};
    --mid-bg-clr: #{$mid-bg-clr};
    --btm-bg-clr: #{$btm-bg-clr};
    --skate-max-width: #{$skate-max-width};
    --main-text-clr: #{$main-text-clr};
}

.channel {
    background-color: var(--skate-bg-clr);
    text-align: center;
    padding-block: 2em;
}

.topic__title {
    font-size: var(--section-title);
}

.items {
    background-color: var(--mid-bg-clr);
}

.item {
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    &__title {
        text-align: center;
    }
    &__img {
        margin-top: auto;
    }
}

.tricks {
    background-color: var(--btm-bg-clr);
    color: var(--header-clr);
    padding: 1em;
    &__title {
        text-align: center;
    }
}

.skills {
    padding: 0;
    margin: 0;

    &__item {
        text-decoration: none;
        list-style: square;
        line-height: 2;
    }
}
