---
import Layout from '../layouts/Layout.astro'
const title="DJing"
const topic="DJing"
const description="Check out resources to learn how to DJ! <br> See below for great controllers for beginners!"
---
<Layout title={title} topic={topic} description={description}/>
<style lang="scss">
    @import '../styles/topic';
</style>
<!-- Source: https://iconarchive.com/show/windows-8-icons-by-icons8/Music-Dj-icon.html -->
<link rel="shortcut icon" type="image/png" href='../../dj.ico' alt='dj icon'>
<main name="main">
    <section class="channel">
        <div class="container row">
            <div class="topic__content">
                <h2 class="topic__title">Crossfader</h2>
                <iframe src="https://www.youtube.com/embed/0Hc8bmEaCqM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                Great beginner tips for different styles, mixes, and controllers.
                </p>
            </div>

            <div class="topic__content">
                <h2 class="topic__title">DJ Carlo Atendido</h2>
                <iframe src="https://www.youtube.com/embed/gzjasvooSG8" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                Great quick beginner tutorials for mixing with tracks provided.
                </p>
            </div>

            <div class="topic__content">
                <h2 class="topic__title">Digital DJ Tips</h2>
                <iframe src="https://www.youtube.com/embed/MqVMjdCBuJY" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                Tutorials for different software, controllers, and styles.
                </p>
            </div>
        </div>
    </section>

    <section class="items">
        <div class="container row">
            <div class="item">
            <!-- Source: https://www.long-mcquade.com/files/117009/52ba0752d7f8ae18a8a016c3abcb3af6.jpg -->
            <h2 class="item__title">Native Instruments Traktor Kontrol S2 MK3</h2>
            <img class="item__img" src='../../Native-Instruments.jpg' alt='Native Instruments DJ controller'>
            </div>

            <div class="item">
            <!-- Source: https://cosmomusic.ca/product_images/roland-dj-202-dj-controller/5f5defcd6d4dcf001745076a/detail.jpg?c=1604676039 -->
            <h2 class="item__title">Roland DJ-202</h2>
            <img class="item__img" src='../../roland.jpg' alt='Roland DJ controller'>
            </div>

            <div class="item">
            <!-- Source: https://www.musicstore.com/INTERSHOP/static/WFS/MusicStore-Site/MusicStoreShop/MusicStore-MusicStoreShop/de_DE/longtext/DJE0007582-000/hercules-djcontrol-inpulse-500.jpg -->
            <h2 class="item__title">Hercules DJControl Inpulse 500</h2>
            <img class="item__img" src='../../hercules.jpg' alt='Hercules DJ controller'>
            </div>

            <div class="item">
            <!-- Source: https://www.numark.com/images/product_large/numark-dj2go2-touch-top-down-web.jpg -->
            <h2 class="item__title">Numark DJ2GO2 Touch</h2>
            <img class="item__img" src='../../touch.jpg' alt='Mini Numark DJ controller'>
            </div>
        </div>
    </section>
    </main>