---
import Layout from '../layouts/Layout.astro'
const title="My Hobbies"
const topic="Favourite Activities"
const sentence="This website contains information about some of my favourite activities to do. They are fun and challenging and a great way to reduce stress."
---
<Layout title={title} />
<main name="main">

</main>