---
import Layout from '../layouts/Layout.astro'
const title="Skateboarding"
const topic="Skateboarding"
const description="Check out resources to learn skateboarding! <br> See below for some of my favourite item and skateboard tricks to try!"
---
<Layout title={title} topic={topic} description={description}/>
<style lang="scss">
    @import '../styles/topic';
</style>
<!-- Source: https://favicon.io/emoji-favicons/skateboard/ -->
<link rel="shortcut icon" type="image/png" href='../../skate.png' alt='skate icon'>
<main name="main">
    <section class="channel">
        <div class="container row">
            <div class="topic__content">
                <h2 class="topic__title">Skating with Aaron</h2>
                <iframe src="https://www.youtube.com/embed/el2m37X7rHc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                Great beginner to intermediate tutorials.
                </p>
            </div>

            <div class="topic__content">
                <h2 class="topic__title">Sarah Park-Matott</h2>
                <iframe src="https://www.youtube.com/embed/76cqrry3cz0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                Thorough tutorials in a variety of skating styles.
                </p>
            </div>

            <div class="topic__content">
                <h2 class="topic__title">Skate Skate</h2>
                <iframe src="https://www.youtube.com/embed/oIg9bSregSE" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>
                Great short, beginner videos.
                </p>
            </div>
        </div>
    </section>

    <section class="items">
        <div class="container row">
            <div class="item">
            <!-- Source: https://media.rainpos.com/11022/dw_mamba_1024x1024.png -->
            <h2 class="item__title">Deck - Death Wish Black Mamba</h2>
            <img class="item__img" src='../../dw_mamba.png' alt='skateboard deck with roses'>
            </div>

            <div class="item">
            <!-- Source: https://cdn.shopify.com/s/files/1/0162/0694/products/1_5a665d06-1603-457f-875d-52307cd1d701_1024x1024.jpg?v=1598381170 -->
            <h2 class="item__title">Trucks - Independent Stage 11 Forged Hollow</h2>
            <img class="item__img" src='../../indep-forged-hollow.png' alt='skateboard trucks'>
            </div>

            <div class="item">
            <!-- Source: https://d2or613lp2h38m.cloudfront.net/minilogo/productimage/size/524x524/method/padding/v/95b6/WSBCMLAC25295X4.jpg -->
            <h2 class="item__title">Wheels - Mini Logo Hybrid A-Cut</h2>
            <img class="item__img" src='../../mini-logo.jpg' alt='small black wheel'>
            </div>

            <div class="item">
            <!-- Source: https://cdn.shopify.com/s/files/1/1735/1547/products/grizzlygripblackcutout.jpg?v=1490203122 -->
            <h2 class="item__title">Grip Tape - Grizzly</h2>
            <img class="item__img" src='../../grizzly-grip.jpg' alt='grip tape'>
            </div>

            <div class="item">
            <!-- Source: https://d27hrylgrpd01o.cloudfront.net/bonesbearings/productimage/size/450x450/method/padding/v/5dea/BSACBR88.jpg -->
            <h2 class="item__title">Bearings - Bones Reds</h2>
            <img class="item__img" src='../../bones-red.jpg' alt='skate bearings'>
            </div>
        </div>
    </section>

    <section class="tricks">
    <h2 class="tricks__title">Beginner Tricks to Try and Learn</h2>
    <div class="container row">
        <div class="skills">
            <ul class="skills__list">
                <li class="skills__item">Basic Riding - Pushing, Stopping, Turning</li>
                <li class="skills__item">Hippie Jump</li>
                <li class="skills__item">Caveman</li>
                <li class="skills__item">Shove It</li>
                <li class="skills__item">No Comply</li>
                <li class="skills__item">Revert</li>
                <li class="skills__item">Manual</li>
                <li class="skills__item">Ollie</li>
                <li class="skills__item">Pop-Shuv It</li>
            </ul>
        </div>
    </div>
    </section>
</main>