---
const {topic, sentence} = Astro.props;
---
<div class="hero">
    <div class="hero__content">
        <h2>{topic}</h2>
        <p>{sentence}</p>
    </div>
</div>

<style lang="scss">
    .hero {
        height: 50vh;
        border: 2px solid yellow;
    }
</style>