---
const {title, topic, description} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{title}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet"> 
<style global lang="scss">
     @import '../styles/global';
</style>
</head>
<body>
    <header>
            <div class="container row">
                <a href="/" class="home">My Hobbies</a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="/skateboard" class="nav__link">Skateboarding</a>
                        </li>
                        <li class="nav__item">
                            <a href="/dj" class="nav__link">DJing</a>
                        </li>
                        <li class="nav__item">
                            <a href="/rubik" class="nav__link">Rubik's Cube</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="hero">
        <div class="container row">
            <div class="hero__content">
                <h1 class="hero__title">{topic}</h1>
                <p class="hero__text">{description}</p>
            </div>
        </div>
        </section>
        <slot name="main" />
    
</body>
<script src={Astro.resolve('../scripts/nav.js')}></script>
</html>